*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,ol,dl{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
.container{
    width: 1148px;
    margin: 0 auto;
}

/* ====== Navbar Section Style Start ====== */
#navbar{
    padding: 15px 0;
    background: red;
}
.nav_wrapper{
    display: flex;
    align-items: center;
}
.logo{
    width: 20%;
}
.menu{
    width: 60%;
}
.menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 45px;
}
.menu ul li a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: normal;
    text-transform: uppercase;
    color: #036E8A;
}
.nav_actions{
    width: 20%;
    display: flex;
    justify-content: end;
    column-gap: 8px;
}
.nav_action_item{
    display: inline-block;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 1px solid #036E8A;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_action_item i{
    color: #036E8A;
    font-size: 8px;
}
/* ====== Navbar Section Style End ====== */


/* ====== Banner Section Style Start ====== */
/* ====== Banner Section Style End ====== */