*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,ol,dl{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
.container{
    width: 1148px;
    margin: 0 auto;
}
.sec_subtitle{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: normal;
    text-transform: uppercase;
    color: #000000;
}
.sec_title{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 55px;
    line-height: normal;
    text-transform: uppercase;
    color: #036E8A;
}
/* ====== Navbar Section Style Start ====== */
#navbar{
    padding: 15px 0;
    background: #FFFFFF;
    position: absolute;
    top: 36px;
    left: 0;
    width: 100%;
}
.nav_wrapper{
    display: flex;
    align-items: center;
}
.logo{
    width: 20%;
}
.menu{
    width: 60%;
}
.menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 45px;
}
.menu ul li a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: normal;
    text-transform: uppercase;
    color: #036E8A;
}
.nav_actions{
    width: 20%;
    display: flex;
    justify-content: end;
    column-gap: 8px;
}
.nav_action_item{
    display: inline-block;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 1px solid #036E8A;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_action_item i{
    color: #036E8A;
    font-size: 8px;
}
.paragraph{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    color: #FFF;
}
/* ====== Navbar Section Style End ====== */


/* ====== Banner Section Style Start ====== */
#banner{
    background: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 257px;
    padding-bottom: 200px;
}
.banner_wrapper{
    max-width: 784px;
    margin: 0 auto;
}
.banner_wrapper h1{
    max-width: 700px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 89px;
    line-height: 1.1;
    text-transform: uppercase;
    color: #FFFFFF;
}
.banner_wrapper .paragraph{
    margin-top: 24px;
}
.form_inner{
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-top: 45px;
}
.banner_search{
    width: 428px;
    height: 60px;
    border: 1px solid #036E8A;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.banner_search input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-left: 95px;
    padding-right: 40px;
    color: #036E8A;
}
.banner_search input::placeholder{
    color: #036E8A;
}
.banner_search i{
    color: #036E8A;
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    font-size: 27px;
}
.map_circle{
    width: 58px;
    height: 58px;
    border: 1px solid #FFF;
    border-radius: 50%;
    background: #FF8000;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ====== Banner Section Style End ====== */

/* ====== Destination Section Style Start ====== */
#destination{
    padding-top: 148px;
    padding-bottom: 90px;
    position: relative;
    z-index: 999;
}
.destination_wrapper{
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
}
.destination_content{
    width: 560px;
}
.destination_content .sec_title{
    margin-top: 31px;
}
.destination_content .paragraph{
    color: #000000;
    margin-top: 30px;
}
.destination_video{
    width: 508px;
    height: 369px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}
.destination_video img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.destination_video_icon{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}
.destination_video_icon i{
    color: #036E8A;
    font-size: 22px;
}
.book_now{
    margin-top: 70px;
    padding: 54px 64px 50px 64px;
    border: 2px solid #036E8A;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.book_now_btn{
    padding: 16px 45px;
    background: #FF8000;
    color: #FFF;
    border-radius: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: normal;
    text-transform: uppercase;
}
.location_price{
    display: flex;
    column-gap: 166px;
}
.location_price .location{
    position: relative;
}
.location_price .location::after{
    position: absolute;
    content: "";
    top: 10px;
    right: -80px;
    width: 4px;
    height: 96px;
    background: #FF8000;
}
.location_price .location h4{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: normal;
    text-transform: uppercase;
    color: #036E8A;
}
.star_wrapper{
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-top: 14px;
}
.star_wrapper i{
    color: #FF8000;
}
.star_wrapper i:last-child{
    opacity: 0.5;
}
.location_price .price .paragraph{
    color: #000000;
}
.location_price .price span{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: normal;
    color: #036E8A;
}
/* ====== Destination Section Style End ====== */

/* ====== Package Section Style Start ====== */
#package{
    padding-bottom: 114px;
}
.package_shape{
    position: relative;
}
.package_shape img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}
.package_title{
    position: relative;
    z-index: 999;
}
.package_title .sec_title{
    text-align: center;
    font-size: 60px;
    margin-bottom: 23px;
}
.package_title .paragraph{
    max-width: 830px;
    margin: 0 auto;
    text-align: center;
    color: #000000;
}
.package_wrapper{
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.package_item{
    width: 356px;
    position: relative;
    z-index: 999;
}
.package_item_inner{
    border: 1px solid #036E8A;
    border-radius: 12px;
    padding: 36px 36px 76px 36px;
    position: relative;
    transition: all linear 0.3s;
}
.package_item_inner .sec_title{
    font-size: 40px;
    transition: all linear 0.3s;
}
.package_item_inner .price{
    font-size: 60px;
}
.package_item_inner h5{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: normal;
    color: #036E8A;
    margin-top: 6px;
    transition: all linear 0.3s;
}
.package_item_inner ul{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.package_item_inner ul li{
    display: flex;
    align-items: center;
    column-gap: 13px;
}
.package_item_inner ul li i{
    color: #036E8A;
    transition: all linear 0.3s;
}
.package_item_inner ul li span{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    color: #000000;
}
.fa-circle-check .disable{
    opacity: 0.5;
}
.package_btn{
    display: inline-block;
    padding: 14px 26px;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 200px;
    transform: translate(-50%, 50%);
    background: #036E8A;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: normal;
    text-transform: uppercase;
    transition: all linear 0.3s;
}
.trial{
    text-align: center;
    margin-top: 42px;
    color: #000000;
}
.package_item_inner:hover{
    border: 1px solid #FF8000;
}
.package_item_inner:hover .sec_title, .package_item_inner:hover h5, .package_item_inner:hover ul li i{
    color: #FF8000;
}
.package_item_inner:hover .package_btn{
    background: #FF8000;
}
/* ====== Package Section Style End ====== */

/* ====== Destination2 Section Style Start ====== */
#destination2{
    padding: 70px 0;
    background: #036E8A;
}
.destination2_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 55;
}
.destination2_img{
    width: 508px;
    height: 523px;
    border-radius: 20px;
    overflow: hidden;
}
.destination2_img img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.destination2_content{
    width: 566px;
}
.destination2_content .sec_subtitle{
    color: #FFFFFF;
}
.destination2_content .sec_title{
    color: #FFFFFF;
    margin: 30px 0;
}
.destination2_shape{
    position: relative;
}
.destination2_shape img{
    position: absolute;
    left: 50%;
    bottom: -35px;
    transform: translateX(-50%);
}
/* ====== Destination2 Section Style End ====== */

/* ====== Gallery Section Style Start ====== */
#gallery{
    padding: 110px 0;
    position: relative;
    z-index: 555;
}
.gal_title .sec_title{
    font-size: 60px;
    text-align: center;
    margin-bottom: 23px;
}
.gal_title .paragraph{
    max-width: 830px;
    margin: 0 auto;
    color: #000000;
    text-align: center;
}
.gal_wrapper{
    margin-top: 106px;
    display: flex;
    gap: 16px;
}
.gal_item{
    width: 275px;
    display: flex;
    flex-direction: column;
    row-gap: 17px;
}
.gal_item_inner{
    width: 100%;
    border-radius: 28px;
    overflow: hidden;
    position: relative;
}
.gal_item_inner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gal_item_inner .large{
    height: 407px;
}
.gal_item_inner .small{
    height: 256px;
}
.gal_item_inner .overlay{
    position: absolute;
    width: auto;
    left: 30px;
    bottom: 30px;
}
.gal_item_inner .overlay h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: normal;
    color: #707070;
}
.gal_item_inner .overlay h6{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    color: #707070;
}
.gal_shape{
    position: relative;
}
.gal_shape img{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}
/* ====== Gallery Section Style End ====== */

/* ====== Counter Section Style End ====== */
#counter{
    padding: 90px 0 120px 0;
    background-image: url(../images/counter.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 555;
}
.counter_wrapper{
    display: flex;
    justify-content: space-between;
}
.counter_item{
    width: 22%;
}
.counter_item h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 55px;
    line-height: normal;
    color: #707070;
}
.counter_item span{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: normal;
    color: #707070;
}
/* ====== Counter Section Style End ====== */

/* ====== Newsletter Section Style Start ====== */
#newsletter{
    padding: 100px 0 130px 0;
    position: relative;
    z-index: 555;
}
.newsletter_gal{
    display: flex;
    gap: 23px;
    margin-bottom: 20px;
}
.newsletter_gal_item{
    width: 275px;
    height: 240px;
    border-radius: 25px;
    overflow: hidden;
}
.newsletter_gal_item:last-child{
    width: 850px;
}
.newsletter_box{
    display: flex;
    justify-content: space-between;
}
.newsletter_box_img{
    width: 514px;
    height: 482px;
    border-radius: 25px;
    overflow: hidden;
}
.newsletter_box_form{
    width: 566px;
}
.newsletter_box_form .sec_subtitle{
    color: #036E8A;
    padding-top: 80px;
    padding-bottom: 30px;
}
.newsletter_form{
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.newsletter_form .form_group{
    position: relative;
}
.newsletter_form .form_group i{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(70%, -50%);
    font-size: 30px;
    color: #036E8A;
}
.newsletter_form .form_group input{
    width: 340px;
    border: 1px solid #036E8A;
    border-radius: 15px;
    padding: 28px 63px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    color: #036E8A;
    outline: none;
}
.newsletter_form .form_group input::placeholder{
    color: #036E8A;
}
.newsletter_form button{
    width: 205px;
    background: #FF8000;
    padding: 22px 40px;
    border: none;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: normal;
    color: #FFFFFF;
}
/* ====== Newsletter Section Style End ====== */

/* ====== Brand Section Style Start ====== */
#brand{
    padding-bottom: 120px;
    position: relative;
    z-index: 555;
}
.brand_wrapper{
    border: 3px solid #036E8A;
    border-radius: 15px;
    padding: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand_item{
    position: relative;
}
.brand_item::after{
    position: absolute;
    content: "";
    top: 50%;
    right: -63px;
    transform: translateY(-50%);
    width: 3px;
    height: 73px;
    border-radius: 5px;
    background: #036E8A;
}
.brand_item:last-child::after{
    background: transparent;
}
/* ====== Brand Section Style End ====== */

/* ====== Review Section Style Start ====== */
#review{
    padding-bottom: 155px;
}
.review_heading .sec_title{
    font-size: 60px;
    text-align: center;
    margin-bottom: 23px;
}
.review_heading .paragraph{
    max-width: 830px;
    margin: 0 auto;
    color: #000000;
    text-align: center;
}
.review_wrapper{
    margin-top: 110px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 72px;
    row-gap: 77px;
}
.review_item{
    width: 538px;
    height: 400px;
    border-radius: 20px;
    padding: 40px 59px;
    box-shadow: -1px 0 17px -4px rgba(0,0,0,0.15);
    transition: all linear 0.3s;
}
.review_img{
    width: 113px;
    height: 113px;
    margin: 0 auto;
    border: 1px solid #707070;
    border-radius: 50%;
    overflow: hidden;
}
.review_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.review_content{
    margin-top: 26px;
    text-align: center;
}
.review_content h4{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: normal;
    color: #036E8A;
}
.review_content h5{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: normal;
    color: #262525;
}
.review_rating{
    margin: 8px 0 20px 0;
    color: #FF8000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.review_content .paragraph{
    color: #000000;
}
.review_item:nth-child(odd):hover{
    background: #036E8A;
}
.review_item:nth-child(odd):hover .review_content h4, .review_item:nth-child(odd):hover .review_content h5, .review_item:nth-child(odd):hover .review_content .review_rating, .review_item:nth-child(odd):hover .review_content .paragraph, .review_item:nth-child(even):hover .review_content h4, .review_item:nth-child(even):hover .review_content h5, .review_item:nth-child(even):hover .review_content .review_rating, .review_item:nth-child(even):hover .review_content .paragraph{
    color: #FFF;
}
.review_item:nth-child(even):hover{
    background: #FF8000;
}
.review_shape{
    position: relative;
}
.review_shape img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -70%);
}
.review_container{
    position: relative;
    z-index: 555;
}
/* ====== Review Section Style End ====== */